@keyframes smith {
  0%,
  40% {
    transform: translate(0, 0);
  }
  50% {
    text-transform: lowercase;
  }
  60%,
  100% {
    text-transform: capitalize;
    transform: translate(3.5ch, 0);
  }
}

@keyframes jos {
  0%,
  40% {
    transform: translate(1ch, 0);
  }
  50% {
    text-transform: lowercase;
  }
  60%,
  100% {
    transform: translate(-0.5ch, 0);
    text-transform: capitalize;
  }
}

@keyframes hua {
  0%,
  40% {
    transform: translate(-1ch, 0);
  }
  60%,
  100% {
    transform: translate(-5.5ch, 0);
  }
}

.jos {
  animation: jos 4s ease-in-out 0s infinite alternate;
  animation-fill-mode: forwards;
}

.hua {
  transform: translate(-1ch, 0);
  animation: hua 4s ease-in-out 0s infinite alternate;
  animation-fill-mode: forwards;
}

.smith {
  animation: smith 4s ease-in-out 0s infinite alternate;
  animation-fill-mode: forwards;
}
